@import "compass";
@import "structure/_main";
@import "structure/_columns";

body {
  margin-bottom: 100px;
  font-family: arial, helvetica, verdana;

  > header, > article, > div, > .columns, > footer {
    width: 980px !important;
    margin: 0 auto;
  }

  > header {
    height: 140px;

    .logo {
      $image: "speakr.png";
      $width: image-width($image);
      $height: image-height($image);

      display: block;
      float: left;
      width: $width;
      height: $height;
      margin: 10px 0;
      font-size: 36px;

      img {
        width: $width;
        height: $height;
      }
    }

    .sign-in-with-twitter, .user {
      float: right;
      margin: 40px 0;
    }

    @include clearfix;
  }
}

a {
  color: #1F65BC;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 1em 0 0.5em;
}

hgroup {
  margin-bottom: 2em;

  h1, h2 {
    margin: 0;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
}

textarea {
  font: 16px arial, helvetica, verdana;
  @include box-sizing(border-box);
}

th, td {
  text-align: left;
  vertical-align: top;
}

.welcome {
  @include clearfix;
}

.sign-in-with-twitter {
  @include sign-in-with-twitter;
}

.actions {
  margin-bottom: 30px;

  a {
    @include sexy-button(#1F65BC);
    width: 145px;
    height: 48px;
    line-height: 48px;

    &.attend {
      float: left;
    }

    &.speak {
      float: right;
    }
  }

  @include clearfix;
}

@mixin editable-section {
  header {
    h2 {
      float: left;
    }

    @include clearfix;
  }

  .add, .edit {
    margin: 25px 0 0 10px;
  }
}

article.event {
  header {
    .icons {
      float: right;

      a {
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        margin: 0 6px 6px 0;
        text-indent: -9999px;
      }

      .mini-actions {
        float: left;

        .favourite {
          background: url("/images/icons/actions/favourite.png") no-repeat;

          &.not-favourite {
            background-position: 0 -32px;
          }
        }

        .watch {
          background: url("/images/icons/actions/watch.png") no-repeat;

          &.not-watching {
            background-position: 0 -32px;
          }
        }
      }

      .social {
        float: left;

        .tweet {
          background: url("/images/icons/social/twitter.png") no-repeat;
        }

        .share {
          background: url("/images/icons/social/facebook.png") no-repeat;
        }
      }
    }
  }

  .logo {
  }

  .actions {
    @include clearfix;
  }

  .description {
    position: relative;

    textarea {
      width: 100%;
      min-height: 300px;
    }

    .edit {
      @include top-right;
    }
  }

  .speakers {
    @include editable-section;
  }

  .content {
    @include editable-section;
  }

  .location {
    display: block;

    > a, > span {
      display: block;
      float: left;
      clear: both;
    }

    div {
      @include clearfix;
    }

    @include editable-section;

    form {
      fieldset {
        margin-bottom: 4px;

        div {
          margin-bottom: 2px;

          label {
            display: block;
            float: left;
            width: 100px;
            line-height: 24px;
          }

          input {
            display: block;
            float: left;
            width: 200px;
          }
        }
      }
    }

    .address {
      height: 120px;
    }

    @include clearfix;
  }

  .map .canvas {
    width: 600px;
    height: 300px;
  }
}

.add-speaker {
  .users {
    margin: 20px 0;
  }
}

.checkbox_list {
  list-style: none;
}

.existing-content {
  ol {
    list-style: none;

    li {
      h3 {
        margin: 0;
      }
    }
  }
}

.events {
  padding: 0;
  list-style: none;

  .event {
    margin-bottom: 20px;

    h3 {
      margin: 0 0 2px;
    }

    .details {
      display: block;
      margin: 0 0 5px;
      font-size: 14px;
      color: #888;

      a {
        color: inherit;

        &:hover, &:focus {
          color: #1F65BC;
        }
      }

      .location {
        .street-address, .postal-code {
          display: none;
        }

        .locality:after, .region:after {
          content: ",";
        }

        &:after {
          content: " - ";
          color: #CCC;
        }
      }
    }
  }
}

.users {
  &.details {
    li {
      width: 200px;
      height: 48px;
      line-height: 24px;

      a {
        position: relative;
        height: 48px;
        padding-left: 56px;
        color: #000;

        img {
          width: 48px;
          height: 48px;
          @include top-left;
        }

        em, span {
          display: block;
          height: 24px;
          overflow: hidden;
        }

        span {
          font-size: 12px;
          color: #555;
        }
      }
    }

    &.extra {
      li {
        position: relative;
        width: 250px;
        padding-right: 48px;

        .action {
          display: block;
          width: 48px;
          padding-left: 0;
          @include top-right;

          &.add-icon {
            background: url("/images/icons/actions/add.png") center center no-repeat;
            text-indent: -9999px;
          }

          &.remove-icon {
            background: url("/images/icons/actions/remove.png") center center no-repeat;
            text-indent: -9999px;
          }
        }
      }
    }
  }

  &.icons {
    padding: 0.5em 0;

    li {
      width: 24px;
      height: 24px;
      margin: 0 6px 6px 0;
    }
  }

  li {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 10px 10px 0;
    @include box-sizing(border-box);

    a {
      display: block;
    }
  }

  @include clearfix;
}

.twitter {
  header {
    position: relative;

    h2 {
      margin-top: 0;
    }

    .edit {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  form {
    margin: 20px 0;
  }

  ol {
    list-style-type: none;

    li {
      background: url("/images/tweet.png") bottom right no-repeat;
      margin-bottom: 10px;
      padding: 0 15px 10px 0;

      small {
        color: #555;
      }
    }
  }
}

.add {
  $width: 50px;
  $height: 26px;
  $border-width: 1px;

  @include background(linear-gradient(#EEE, #DDD));
  background-color: #EEE;
  border: $border-width solid #CCC;
  @include border-radius(4px);
  display: block;
  float: left;
  position: relative;
  width: $width - $border-width * 2;
  height: $height - $border-width * 2;
  padding: 0;
  font-size: 13px;
  color: #222;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

  &:hover, &:focus {
    @include background(linear-gradient(#f6f6f6, #EEE));
    text-decoration: none;
  }
}

.edit {
  $width: 50px;
  $height: 26px;

  background: none;
  border: none;
  display: block;
  float: left;
  position: relative;
  width: $width;
  height: $height;
  padding: 0;
  font-size: 13px;
  color: #222;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

  span {
    $border-width: 1px;

    border: $border-width solid #CCC;
    @include border-radius(4px);
    display: block;
    position: absolute;
    top: 0;
    width: $width - $border-width * 2;
    height: $height - $border-width * 2;

    @include transform-style(preserve-3d);
    @include transition(ease, 0.3s, all);
    @include backface-visibility(hidden);

    &.action {
      @include background(linear-gradient(#EEE, #DDD));
      background-color: #EEE;
      z-index: 1;
    }

    &.cancel {
      @include background(linear-gradient(#d67178, #bc1422));
      background-color: #bc1422;
      border-color: #661e21;
      @include text-shadow(0 0 3px rgba(100, 30, 30, 0.5));
      color: #FFF;

      @include transform(rotateY(180deg));
    }
  }

  &:hover, &:focus {
    span {
      text-decoration: none;

      &.action {
        @include background(linear-gradient(#f6f6f6, #EEE));
      }

      &.cancel {
        @include background(linear-gradient(#e5848b, #d42636));
      }
    }
  }

  &.active {
    span {
      &.action {
        @include transform(rotateY(180deg));
        @include opacity(0);
      }

      &.cancel {
        @include transform(rotateY(0deg));
      }
    }
  }
}